<section class="page_aside">
    <div class="c-profle_aside">
        <div class="c-profle_box">
            <div class="c-profle_box-header">
                <div class="c-profle_box-avatar" style="background-image:url(/svg/avatar/@(User.FindFirst("avatar").Value + ".svg")"></div>
                <button class="c-profle_box-avatar_edit"></button>
            </div>
            <div class="c-profle_box-username">pedram</div>
            <div class="c-profle_box-tabs">
                <a class="c-profle_box-tab c-profle_box-tab_chnage-pass">تغییر رمز</a>
                <a class="c-profle_box-tab c-profle_box-tab_sign-out">خروج از حساب</a>
            </div>
        </div>

        <div class="c-profile_menu">
            <div class="c-profile_menu-header">حساب کاربری شما</div>
            <ul class="c-profile_menu-items">
                <li><a href="#" class="c-profile_menu-url c-profile_menu-url_dashboard is-active">پروفایل</a></li>
                <li><a href="#" class="c-profile_menu-url c-profile_menu-url_orders">همه سفارش‌ها</a></li>
                <li><a href="#" class="c-profile_menu-url c-profile_menu-url_return">درخواست مرجوعی</a></li>
                <li><a href="#" class="c-profile_menu-url c-profile_menu-url_whishlist">لیست علاقه‌مندی‌ها</a></li>
                <li><a href="#" class="c-profile_menu-url c-profile_menu-url_commnets">نقد و نظرات</a></li>
                <li><a href="#" class="c-profile_menu-url c-profile_menu-url_gifts">کارت‌های هدیه</a></li>
                <li><a href="#" class="c-profile_menu-url c-profile_menu-url_address">آدرس‌ها</a></li>
                <li><a href="#" class="c-profile_menu-url c-profile_menu-url_notices">اطلاع‌رسانی‌ها</a></li>
                <li><a href="#" class="c-profile_menu-url c-profile_menu-url_notification">پیغام‌های من</a></li>
                <li><a href="#" class="c-profile_menu-url c-profile_menu-url_personal">اطلاعات شخصی</a></li>
            </ul>
        </div>
    </div>
</section>
