
@{
    ViewData["Title"] = "OnlinePayment";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<h2>پرداخت آنلاین</h2>
<p class="alert alert-success"><span>شماره پیگیری:</span>@ViewBag.code</p>

