<footer class="c-footer">
    <div class="container">
        <div class="c-footer_jump-top">
            <span class="c-footer_jump-top_container js-footer_jump-top_container">
                <span class="c-footer_jump-top_icon"></span>
                برگشت به بالا
            </span>
        </div>

        <div class="c-footer_feature">
            <a href="#">
                <div class="c-footer-feature_item c-sliders_right-feature_item-1">تحویل اکسپرس</div>
            </a>
            <a href="#">
                <div class="c-footer-feature_item c-sliders_right-feature_item-2">پشتیبانی ۲۴ ساعته</div>
            </a>

            <a href="#">
                <div class="c-footer-feature_item c-sliders_right-feature_item-3">پرداخت در محل</div>
            </a>

            <a href="#">
                <div class="c-footer-feature_item c-sliders_right-feature_item-4">هفت رو ضمانت بازگشت</div>
            </a>

            <a href="#">
                <div class="c-footer-feature_item c-sliders_right-feature_item-5">ضمانت اصل بودن کالا</div>
            </a>
        </div>

        <hr />

    </div>
    <div class="c-footer_more-info">
        <div class="container">
         
            <div class="c-footer_copyright">
                <div class="c-footer_copyright-text">
                    استفاده از مطالب فروشگاه اینترنتی دیجی‌کالا فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است. کلیه حقوق این سایت متعلق به شرکت نوآوران فن آوازه (فروشگاه آنلاین دیجی‌کالا) می‌باشد.
                </div>
            </div>
        </div>
    </div>
</footer>