@model ChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_AccountLayout1.cshtml";
}

<div class="c-account_box-headline"> تغییر رمز عبور</div>
<div class="c-account_box-content">
    <form asp-action="ChangePassword" class="c-form_account">

        <div class="c-form_account-title">رمز عبور قبلی</div>
        <div class="c-form_account-row">
            <div class="c-form_account-col">
                <div asp-validation-summary="ModelOnly" style="color:red"></div>
                <label class="c-form_account-label c-form_account-label_username">
                    <input asp-for="OldPassword" class="c-form_account-input" placeholder="رمز عبور قبلی  خود را وارد نمایید">
                    <span asp-validation-for="OldPassword" class="field-error"></span>

                </label>
            </div>
        </div>

        <div class="c-form_account-title">رمز عبور جدید</div>
        <div class="c-form_account-row">
            <div class="c-form_account-col">
                <label class="c-form_account-label c-form_account-label_username">
                    <input asp-for="Password" class="c-form_account-input" placeholder="رمز عبور جدید  خود را وارد نمایید">
                    <span asp-validation-for="Password" class="field-error"></span>

                </label>
            </div>
        </div>
        <div class="c-form_account-title c-form_account-title_passowrd">تکرار رمز عبور   </div>
        <div class="c-form_account-row">
            <div class="c-form_account-col">
                <label class="c-form_account-label c-form_account-label_password">
                    <input asp-for="RePassword" class="c-form_account-input" placeholder="رمز عبور جدید خود را مجددا وارد نمایید">
                    <span asp-validation-for="RePassword" class="field-error"></span>
                </label>
            </div>
        </div>


        <div class="c-form_account-row">
            <div class="c-form_account-col">
                <button type="submit" class="c-form_account-btn c-form_account-btn_register">بازیابی کلمه عبور‌</button>
            </div>
        </div>



    </form>
</div>


@section script{
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.js"></script>

}
