@model CorService.ViewModels.Users.ResetPaswordViewModel 
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AccountLayout1.cshtml";
}


<div class="c-account_box-headline">بازیابی کلمه عبور</div>
<div class="c-account_box-content">
    <form asp-action="ResetPassword" class="c-form_account">
        <input hidden asp-for="ActiveCode" />
        <input hidden asp-for="UserId" />
        <div class="c-form_account-title">رمز عبور</div>
        <div class="c-form_account-row">
            <div class="c-form_account-col">
                <div asp-validation-summary="ModelOnly" style="color:red"></div>
                <label class="c-form_account-label c-form_account-label_username">
                    <input asp-for="Password" class="c-form_account-input" placeholder="کلمه عبور  خود را وارد نمایید">
                    <span asp-validation-for="Password" class="field-error"></span>

                </label>
            </div>
        </div>
        <div class="c-form_account-title c-form_account-title_passowrd">تکرار کلمه عبور   </div>
        <div class="c-form_account-row">
            <div class="c-form_account-col">
                <label class="c-form_account-label c-form_account-label_password">
                    <input asp-for="RePassword" class="c-form_account-input" placeholder="تکرار کلمه عبور   را وارد نمایید">
                    <span asp-validation-for="RePassword" class="field-error"></span>
                </label>
            </div>
        </div>


        <div class="c-form_account-row">
            <div class="c-form_account-col">
                <input type="submit" class="c-form_account-btn c-form_account-btn_register" value="بازیابی کلمه عبور‌"/>
            </div>
        </div>



    </form>
</div>


@section script{
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.js"></script>


}

